NODE_ENV=development # Used for development, to enable cors.
DB_USER=admin
DB_PASS=123
DB_NAME=games
DB_URL=postgresql://${DB_USER}:${DB_PASS}@localhost:5432/${DB_NAME}

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=""

GAMMA_ROOT_URL=http://localhost:8081
GAMMA_AUTH_URL=${GAMMA_ROOT_URL}/api/oauth/authorize
GAMMA_TOKEN_URL=${GAMMA_ROOT_URL}/api/oauth/token
GAMMA_USER_URL=${GAMMA_ROOT_URL}/api/users/me
GAMMA_CLIENT_ID=id
GAMMA_CLIENT_SECRET=secret
GAMMA_CALLBACK_URL=http://localhost:3000/callback
GAMMA_API_KEY=key

MOCK=true # Enables the superadmin gamma authority to be site admin