@import 'src/styles/variables';

.layout {
	display: flex;
	gap: 1rem;
	margin: auto;
	max-width: fit-content;
}

.star {
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	fill: $color-bright;
	transition: all 300ms ease;

	&:hover ~ .star,
	&:hover {
		fill: $color-accent;
		filter: brightness(1.5);
	}
}

.selected {
	fill: $color-accent;
}

.starContainer {
	display: flex;
	flex-direction: row-reverse;
}
