@import 'src/styles/variables';

.gamesListHeader {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.gamesList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	list-style-type: none;
	width: 100%;
	flex: 1;
}

.contentLayout {
	width: 100%;
	margin-right: 2rem;
}
