@import 'src/styles/variables';
.gamesListHeader {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.gamesList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	list-style-type: none;
	width: 100%;
}

.gamesListSearchBar {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2rem;
	height:2.25rem;
	width:100%;
	border: $border;
	border-radius: 2rem; // Pill shaped //plz no =(
	box-sizing: border-box;
	box-shadow:$shadow;
}