@import 'src/styles/variables';

.legendTitle {
	font-size: $text-big;
	border-bottom: $text-dark 1px solid;
	padding: 0.625rem 0;
}

.legendItemList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style: none;
	margin-top: $margin-small;
}

.legendItem {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.legendItemIcon {
	width: 1rem;
	height: 1rem;
}

.legendItemText {
	font-weight: bold;
}
