@import 'src/styles/variables';

.searchDiv {
	position: relative;
	height: 2.25rem;
	flex: 1;
}

.searchBar {
	font-size: $text-normal;
	margin-bottom: $margin-medium;
	height: 2.25rem;
	width: 100%;
	border: $border;
	border-radius: 9999999rem; // Pill shaped
	box-sizing: border-box;
	box-shadow: $shadow;
	padding: 0.5rem 1rem 0.5rem 2.5rem;

	&::placeholder {
		font-weight: bold;
	}
}

.searchIcon {
	position: absolute;
	height: 1rem;
	width: 1rem;
	top: 50%;
	left: 1rem;
	fill: $color-dark;
	opacity: 0.5;
	transform: translate(0, -50%);
}
