@import 'src/styles/variables';

.card {
	border: $border;
	box-shadow: $shadow;
	border-radius: 5px;
	padding: 1rem;
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.propertyTitle {
	font-weight: bold;
}

.property {
	margin-bottom: 0.5rem;
}

.borrowButton {
	display: block;
	margin: 0 auto;
}
