@import 'src/styles/variables';

.box {
	display: flex;
	flex-direction: column;
	margin: 0 $margin-small;
	padding: $margin-small 0;
}

.inputBox{
	border:$border;
	border-radius: $margin-smallest;
	padding: $margin-smallest;
	margin-top: $margin-smallest;
	box-shadow: $shadow;
	resize: none;
	height: 3rem;
}

.label {
	font-size: $text-normal;
	font-weight: bold;
	display:block;
	align-self:center;
}